<div class="container intro-container" id="about">
    <div class="col-xs-12 about">
      <h1>Graham McRobbie</h1>
      <p>Software Developer</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tristique nulla in hendrerit efficitur. Phasellus massa ex, eleifend non erat non, tincidunt ornare nisl. Integer lobortis, diam eu luctus porta, lectus eros rutrum sapien, nec sollicitudin massa mi venenatis odio. Etiam ultricies molestie quam iaculis efficitur.
      </p>
      <p>
        Fusce posuere Twitter quis ipsum scelerisque, ac rutrum urna Instagram. Duis feugiat feugiat diam in feugiat.
      </p>
    </div>
</div>
