<div class="container intro-container" id="about">
    <div class="col-xs-12 about">
      <h1>Graham McRobbie</h1>
      <p>Software Developer</p>
      <p>
        Hi, my name's Graham. I'm a software developer from Scotland currently working in Osaka, Japan.

        As well as designing, developing, and testing software, I also have experience of
        managing projects, priorities, deadlines and deliverables.
      </p>
      <p>
        You can find me on <a href="https://github.com/pekoto" target="_blank">GitHub</a> or <a href="https://www.linkedin.com/in/graham-mcrobbie" target="_blank">LinkedIn</a>, and you can get in touch by emailing <a href="mailto:graham.mcrobbie@gmail.com">graham.mcrobbie@gmail.com</a>.
      </p>
    </div>
</div>
