<div class="container education-container" id="education">
    <div class="col-xs-12 education">
      <h1>Education</h1>

      <div class="qualification">
        <h2>BSc Some Degree (Hons) 1st, Some university, A Town</h2>
        <div class="description">
          <p>(Notes on this qualification)</p>
        </div>
      </div>

      <div class="qualification">
        <h2>BSc Some Degree (Hons) 1st, Some university, A Town</h2>
        <div class="description">
          <p>(Notes on this qualification)</p>
        </div>
      </div>

      <div class="qualification">
        <h2>BSc Some Degree (Hons) 1st, Some university, A Town</h2>
        <div class="description">
          <p>(Notes on this qualification)</p>
        </div>
      </div>

    </div>
</div>
