<div class="container education-container" id="education">
    <div class="col-xs-12 education">
      <h1>Education</h1>

      {% for qualification in site.data.education %}
        <div class="qualification">
          <h2>{{ qualification.qualification }}, {{ qualification.institution }}</h2>
          {%- if qualification.description -%}
            <div class="description">
                <p>({{ qualification.description }})</p>
            </div>
          {%- endif -%}
        </div>
      {% endfor %}

    </div>
</div>
