<div class="container experience-container" id="experience">
  <div class="col-xs-12 work">
    <h1>Professional Experience</h1>


    {% for company in site.data.experience %}
      <div class="company">
        <h2>{{ company.company }}, {{ company.company_summary }}</h2>
        <div class="role">
          <p>{{ company.job_title }}, {{ company.dates }}</p>
        </div>
        <div class="description">
          <p>
            {{ company.description }}
          </p>
        </div>
        <div class="achievements">
          <ul>
            {% for achievement in company.achievements %}
              <li>{{ achievement.item }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}

  </div>
</div>
