<div class="container machine-learning-container">
  <h3>{{ site.machine_leaning_title | default: "Machine Learning" }}</h3>
  <div class="row clearfix">
    <div class="col-md-12">
      Some of my selected machine learning-related notes for reference that people online have found helpful. Based on the fast.ai course.
      For a complete listing of all notes, see the [GitHub repo](https://github.com/pekoto/fast.ai).
      The code in these notebooks was run using Paperspace and AWS machine learning servers.
      {{ site.more_content | strip | markdownify }}
    </div>
  </div>
</div>
