<div class="container ml-container" id="ml">
    <div class="col-xs-12 card-based-include">
      <h1>Machine Learning</h1>
      <p>
        Here are expanded machine lerning notes and code samples. They are mainly based on the fast.ai machine learning course,
        but also contain references from other sources too.
        These have been forked and starred by various people on GitHub, so thought I'd share them here too.
      </p>

      <div class="cards">

        {% for note in site.data.machine-learning %}

          <div class="card">
            <a href="{{ note.link }}" target="_blank">
              <div class="cover">
                <img src="{{ note.image }}">
              </div>
              <div class="description">
                <div class="title">{{ note.name }}</div>
                <div class="summary">
                    {{ note.description }}
                </div>
              </div>
            </a>
          </div>

        {% endfor %}

      </div>
    </div>
</div>
