<div class="container ml-container" id="ml">
    <div class="col-xs-12 card-based-include">
      <h1>Machine Learning</h1>
      <p>
        Here are my notes and code samples related to the fast.ai machine learning course,
        complete with references from some other sources too.
        Some people seem to have found them helpful, so I thought I'd share them here.
      </p>

      <div class="cards">

        {% for note in site.data.machine-learning %}

          <div class="card">
            <a href="{{ note.link }}">
              <div class="cover">
                <img src="{{ note.image }}">
              </div>
              <div class="description">
                <div class="title">{{ note.name }}</div>
                <div class="summary">
                    {{ note.description }}
                </div>
              </div>
            </a>
          </div>

        {% endfor %}

      </div>
    </div>
</div>
