<div class="container projects-container">
    <div class="col-xs-12 card-based-include">
      <h1>Personal Projects</h1>
      <p>Some personal projects I've built just for fun.</p>
      <div class="cards">

        <div class="card">
          <a href="https://www.google.com">
            <div class="cover">
              <img src="../images/profile.jpg">
            </div>
            <div class="description">
              <div class="title">Title</div>
              <div class="summary">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="https://www.google.com">
            <div class="cover">
              <img src="../images/profile.jpg">
            </div>
            <div class="description">
              <div class="title">Title</div>
              <div class="summary">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="https://www.google.com">
            <div class="cover">
              <img src="../images/profile.jpg">
            </div>
            <div class="description">
              <div class="title">Title</div>
              <div class="summary">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="https://www.google.com">
            <div class="cover">
              <img src="../images/profile.jpg">
            </div>
            <div class="description">
              <div class="title">Title</div>
              <div class="summary">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="https://www.google.com">
            <div class="cover">
              <img src="../images/profile.jpg">
            </div>
            <div class="description">
              <div class="title">Title</div>
              <div class="summary">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
</div>
