<div class="container projects-container">
  <h3>{{ site.projects_title | default: "Personal Projects" }}</h3>
  {% for project in site.data.projects %}
    <div class="row clearfix project">
      <div class="col-xs-12">
        <h4><a href="{{project.link}}" target="_blank">{{ project.name }}</a></h4>
        <p class="overview">{{ project.overview }}</p>
        {{ project.description | strip | markdownify }}
      </div>
    </div>
  {% endfor %}
  <br/>
  <br/>
  <p>...and more stuff in development 😁</p>
</div>
