<div class="container projects-container" id="projects">
    <div class="col-xs-12 card-based-include">
      <h1>Personal Projects</h1>
      <p>Some personal projects I've built just for fun.</p>
      <div class="cards">

        {% for project in site.data.projects %}
          <div class="card">
            <a href="{{ project.link }}">
              <div class="cover">
                <img src="{{ project.image }}">
              </div>
              <div class="description">
                <div class="title">{{ project.name }}</div>
                <div class="summary">
                  {{ project.overview }}
                </div>
              </div>
            </a>
          </div>
        {% endfor %}

      </div>
    </div>
</div>
