<div class="container skills-container" id="skills">
    <div class="col-xs-12 skills">
      <h1>Skills</h1>
      <div class="main-skills">
        <p>
          <strong>Proficient:</strong>
          {% for skill in site.data.skills.proficient %}
            {{ skill }}
          {% endfor %}
        </p>
        <p>
          <strong>Experienced:</strong>
          {% for skill in site.data.skills.experienced %}
            {{ skill }}
          {% endfor %}
        </p>
        <p>
          <strong>Familiar:</strong>
          {% for skill in site.data.skills.familiar %}
            {{ skill }}
          {% endfor %}
        </p>
      </div>
      <div>
        <p>
          <strong>And some other things I've used in the past...</strong>
          {% for skill in site.data.skills.other %}
            {{ skill }}
          {% endfor %}
        </p>
      </div>
    </div>
</div>
