<div class="container skills-container" id="skills">
    <div class="col-xs-12 skills">
      <h1>Skills</h1>
      <div class="main-skills">
        <p><strong>Proficient:</strong> Java, C#, SQL</p>
        <p><strong>Experienced:</strong> Swift, ASP.NET MVC, Visual Basic, HTML, Unity, Git</p>
        <p><strong>Familiar:</strong> JavaScript, CSS, Python, Ajax, Firebase, Linux (Ubuntu, CentOS), jQuery, Sketch</p>
      </div>
      <div>
        <p><strong>And some things I've used in a past life...</strong> C++, DirectX, OpenGL, PHP, COBOL (yup), and more!</p>
      </div>
    </div>
</div>
