<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">

            {%- include about.html -%}

            {%- include projects.html -%}

            {%- include machine-learning.html -%}

            {%- include experience.html -%}

            {%- include education.html -%}

            {%- include skills.html -%}

            {%- include awards.html -%}

            {%- include more.html -%}

        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>
